<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html>
    <head>
        <title>Historico</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/myStyle.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/UserSettings.css}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <style>
            #btnHis{
                background-color: green;
                margin-left: 0.5vh;
                zoom: 110%;
                border-top-left-radius: 2vh;
                border-bottom-left-radius: 2vh;
            }
            .hidden {
                display: none;
            }
            .hiddenOff{
                display: flex;
            }
        </style>
    </head>
    <body>
        <button class="caseUserName" id="caseUserName" style="font-size: 4vh;">
            <p class="userName"></p>
        </button>
        <div class="UserSettings hidden" id="UserSettings">
            <p class="userName">...</p>
            <div class="btnUserSettings" id="editarOpen">Editar Usuario</div>
            <div class="btnUserSettings" id="deslogar">Deslogar</div>
            <div class="btnUserSettings" id="dellUser" style="color: red;">Excluir usuario</div>
            <button id="closeMenuUser" style="font-size: 8vh;margin: -2vh;margin-top: 1vh;margin-left: 21vh;height: 6vh;width: 15vh;text-align: end;border: none;background-color: rgba(0, 0, 0, 0);">^</button>
        </div>
        <div class="editUserArea hidden" id="editUserArea">
            <button id="closeEditUser" style="color: white;font-size: 10vh;border: none;background-color: rgba(0, 0, 0, 0);position: fixed;top: 2vh;right: 2vh;">X</button>
            <div class="editUserCampo" id="editarUsuario">
                <div class="divfuncUser hidden" id="credenciais">
                    <p style="font-size: 3vh; margin: 0">Confirme a senha de usuario:</p>
                    <form id="loginForm" style="display: flex; flex-direction: column; align-items: center;">
                        <input type="hidden" id="userNameGet"></input>
                        <input class="inputUserSettings" id="txtSenha" type="password" style="font-size: 3vh"></input>
                        <button class="buttonUserSettings" id="login" type="submit" style="font-size: 3vh">Confirmar</button>
                    </form>
                </div>
                <div class="divfuncUser hidden" id="ErroUS">
                    <p style="font-size: 3vh; margin: 0">Senha de usuario incorreta</p>
                    <div style="    display: flex; justify-content: center; align-items: center; width: 90%;">
                        <button id="TN" class="buttonUserSettings" style="font-size: 1.78vh">Tentar novamente</button>
                        <div class="EspaçadorIvh"></div>
                        <button id="Ca" class="buttonUserSettings" style="font-size: 3vh">Cancelar</button>
                    </div>
                </div>
                <div class="divfuncUser hidden" id="SelecionarFuncao">
                    <button class="buttonUserSettings" id="EUser" type="button" style="font-size: 2.9vh">Editar usuario</button>
                    <button class="buttonUserSettings" id="ESenha" type="button" style="font-size: 3vh">Editar senha</button>
                </div>
                <div class="divfuncUser hidden" id="EditarUsuario" >
                    <p style="font-size: 3vh; margin: 0">Insira um novo nome de usuario</p>
                    <form id="editarLogin" style="display: flex; flex-direction: column; align-items: center;">
                        <input id="novoLogin" class="inputUserSettings" type="text" placeholder="Novo Login" style="font-size: 3vh"></input>
                        <input id="senhaOculta" type="hidden"></<input>
                        <button class="buttonUserSettings" type="submit" style="font-size: 3vh">Confirmar</button>
                    </form> 
                </div>
                <div class="divfuncUser hidden" id="EditarSenha">
                    <p style="font-size: 3vh; margin: 0">Nova senha</p>
                    <form id="editarSenha" style="display: flex; flex-direction: column; align-items: center;">
                        <input id="loginOculta" type="hidden"></<input>
                        <input id="novaSenha" class="inputUserSettings" type="password" placeholder="Nova Senha" style="font-size: 3vh"></input>
                        <button class="buttonUserSettings" type="submit" style="font-size: 3vh">Confirmar</button>
                    </form>
                </div>

                <div class="divfuncUser hidden" id="credenciaisDell">
                    <p style="font-size: 3vh; margin: 0">Confirme a senha de usuario:</p>
                    <form id="loginFormDell" style="display: flex; flex-direction: column; align-items: center;">
                        <input type="hidden" id="userNameGetD"></input>
                        <input class="inputUserSettings" id="txtSenhaD" type="password" style="font-size: 3vh"></input>
                        <button class="buttonUserSettings" id="loginD" type="submit" style="font-size: 3vh">Confirmar</button>
                    </form>
                </div>
                <div class="divfuncUser hidden" id="ErroUSDell">
                    <p style="font-size: 3vh; margin: 0">Senha de usuario incorreta</p>
                    <div style="    display: flex; justify-content: center; align-items: center; width: 90%;">
                        <button id="TND" class="buttonUserSettings" style="font-size: 1.78vh">Tentar novamente</button>
                        <div class="EspaçadorIvh"></div>
                        <button id="CaD" class="buttonUserSettings" style="font-size: 3vh">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="divfuncUser hidden" id="finish" style="color: black; font-size: 10vh; background-color: white">
                <p>Login bem sucedido! Volte para a tela de login</p>
                <button id="btnFim" style="font-size: 10vh">OK!</button>
            </div>
        </div>

        <header class="top">
            <img th:src="@{imagens/Logo.png}" width="120vh"/>
        </header>
        <nav>
            <ul class="itens-menu">
                <li class="item-menu" id="btnTar"><a href="/Tarefas">
                        <span class="icon"><i class="bi bi-house-door-fill"></i></span>
                        <span class="txtLink">Tarefas</span>
                    </a></li>
                <li class="item-menu" id="btnHis"><a href="/Historico">
                        <span class="icon"><i class="bi bi-clock-history"></i></span>
                        <span class="txtLink">Historico</span>
                    </a></li>
            </ul>
        </nav>
        <main>
            <div class="divMenu">
                <p>Histórico:</p>
                <div id="btnFunctions">
                    <button style="font-size: 3vh" id="recTar">Recuperar Tarefa</button>
                    <button style="font-size: 3vh" id="dellTar">Deletar Tarefa</button>
                </div>
                <p id="tarSelect" class="hidden">Clique em uma tarefa da tabela para selecioná-la</p>

                <div class="fncDell hidden"><button type="submit" id="btnDell" style="font-size: 3vh">Deletar!</button></div>
                <div class="fncRec hidden"><button type="submit" id="btnRec" style="font-size: 3vh">Recuperar!</button></div>
            </div>
            <div class="divMenu">
                <div class="table-container">
                    <table id="tblTarefas">
                        <thead>
                            <tr>
                                <th class="hidden-column">ID</th>
                                <th class="hidden-column">ID Usuario</th>
                                <th>Título</th>
                                <th>Descrição</th>
                                <th>Data Final</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="movieRow" th:each="tarefa : ${listarTarefas}">
                                <td class="hidden-column" th:text="${tarefa.id}"></td>
                                <td class="hidden-column" th:text="${tarefa.userid}"></td>
                                <td th:text="${tarefa.titulo}"></td>
                                <td th:text="${tarefa.descricao}"></td>
                                <td class="DataEdit" th:text="${tarefa.datat}"></td>
                                <td th:text="${tarefa.statust}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer>Todos direitos reservados a Diogo Borchhardt Beloni</footer>

        <script th:src="@{/JS/fUser.js}"></script>
        
        <script th:src="@{/JS/fHistorico.js}"></script>
    </body>
</html>
