<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div>
                <form action="/Historico" method="get">
                    <input type="text" placeholder="Informe o nome de usuario" required="">
                    <input type="password" placeholder="Informe a senha de login" required="">
                    <button type="submit">Login</button>
                </form>
            </div>
        </main>
    </body>
</html>
